@media screen and  (min-width: 100px){
    *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#menubtn{
  width: 90px;
  height: 90px;
  background: #4ea0e47e;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 100px;
  border-radius: 3px;
  z-index: 9999;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.5s;
}
#menubtn img{
  width: 60px;
  margin-top: 25px;
}

#SideNav{
  width: 200px;
  height: 3000px;
  position: fixed;
  right: -450px;
  top: 0;
  background: #357ace;
  z-index: 999;
  transition: 0.5s;
  text-align: left;
  border-radius: 10px;
}
#SideNav nav ul{
  padding-top: 200px;
}

#SideNav nav ul li{
  
  list-style: none;
  margin: 60px 20px;
  
}
#SideNav nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 130%;
  font-weight: bolder;
  
}

.event-list {
    width: 600px;
  }
  
  .event-list h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 20px;
    
  }
  
  .event-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .event-info h3 {
    margin: 0;
  }
  
  .event-info p {
    margin: 5px 0;
  }
  .back{
    background-color: #5488e90d;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-left: 150px;
    border: 2px solid black;
    border-color: #5488e9a3;
    font-weight: bolder;
    margin-bottom: 50px;
}
.back img{
    width: 30px;
    position: absolute;
    margin-left: -50px;
    margin-top: -3px;
}
.back a{
    text-decoration: none;
    color: black;
}
}